<section class="breakfasts">
  <div class="container">
    <div class="breakfasts-wrap">
      <div class="breakfasts-img">
        <img src="./images/breakfast-3.jpeg" alt="Вівсянка на сніданок">
      </div>
      <div class="breakfasts-content">
        <h1>Звичайна вівсянка може бути досить смачним та поживним сніданком. </br>Ось простий рецепт для підготовки вівсянки:</h1>
        <article>
          <h2>Інгредієнти:</h2>
          <ul>
            <li>1/2 чашки вівсяних пластівців</li>
            <li>1 чашка води або молока</li>
            <li>1/4 чайної ложки солі (за бажанням)</li>
            <li>мед, ягоди або фрукти за смаком</li>
          </ul>
          <h2>Етапи приготування:</h2>
          <ol>
            <li>Додайте вівсяні пластівці та сіль в каструлю або сковороду.</li>
            <li>Додайте воду або молоко та поставте на середній вогонь.</li>
            <li>Доведіть до кипіння, після чого знизьте вогонь та дайте вівсянці помалу доваритись протягом близько 5-7 хвилин. Часто помішуйте, щоб вівсянка не пригоріла.</li>
            <li>Після того, як вівсянка відварилась, вимкніть вогонь та залиште її стояти на пару хвилин, щоб дозволити всім смакам злитись разом.</li>
            <li>Додайте мед, ягоди або фрукти за смаком та насолоджуйтеся своїм поживним та смачним сніданком.</li>
          </ol>
          <h3>Приємного апетиту!</h3>
        </article>
      </div>
    </div>
  </div>
</section>
