<section class="breakfasts">
  <div class="container">
    <div class="breakfasts-wrap">
      <div class="breakfasts-img">
        <img src="./images/breakfast-1.jpg" alt="Яєчня з овочами">
      </div>
      <div class="breakfasts-content">
        <h1>Простий рецепт на швидкий сніданок - <span>яєчня з овочами</span></h1>
        <article>
          <h2>Інгредієнти:</h2>
          <ul>
            <li>2 яйця</li>
            <li>1/2 кавової ложки солі</li>
            <li>1/4 кавової ложки чорного перцю</li>
            <li>1 столова ложка олії</li>
            <li>1/4 чашки нарізаного перцю</li>
            <li>1/4 чашки нарізаної цибулі</li>
            <li>1/4 чашки нарізаних грибів</li>
          </ul>
          <h2></h2>
          <ol>
            <li>У боці збити яйця, сіль та перець.</li>
            <li>Розігріти олію на сковороді на середньому вогні.</li>
            <li>Додати нарізаний перець, цибулю та гриби. Смажити, помішуючи, доки овочі не стануть м'якими, протягом близько 3-5 хвилин.</li>
            <li>Додати збиті яйця до сковороди з овочами. Швидко помішувати, щоб яйця не пригоріли до дна сковороди. Продовжувати смажити доки яйця не зігріються та не затвердіють. Це займе приблизно 3-5 хвилин.</li>
            <li>Підавати теплою зі свіжим хлібом або тостами.</li>
          </ol>
          <h3>Смачного!</h3>
        </article>
      </div>
    </div>
  </div>
</section>
