<section class="breakfasts">
  <div class="container">
    <div class="breakfasts-wrap">
      <div class="breakfasts-img">
        <img src="./images/breakfast-2.jpg" alt="Яєчні бутерброди">
      </div>
      <div class="breakfasts-content">
        <h1>Простий рецепт на швидкий сніданок - <span>яєчні бутерброди</span></h1>
        <article>
          <h4>Звичайно, є багато різних способів приготування яєчних бутербродів, але ось один з найпростіших рецептів:</h2>
          <h2>Інгредієнти:</h2>
          <ul>
            <li>2 шматки хліба</li>
            <li>2 яйця</li>
            <li>2 шматочки шинки або бекону (опціонально)</li>
            <li>2 шматочки сиру (опціонально)</li>
            <li>1 столова ложка масла або вершкового масла</li>
            <li>Сіль та перець за смаком</li>
          </ul>
          <h2>Етапи приготування:</h2>
          <ol>
            <li>Розтопіть масло на сковороді на середньому вогні.</li>
            <li>Якщо ви використовуєте шинку або бекон, покладіть її на сковороду та смажте до золотистого кольору. Потім вийміть зі сковороди та поставте на тарілку.</li>
            <li>Розбийте яйця в миску та добре перемішайте вилкою. Додайте сіль та перець за смаком.</li>
            <li>Покладіть хліб на сковороду. Якщо вам подобається сир на бутерброді, покладіть шматочки сиру на хліб.</li>
            <li>Покладіть яєчну суміш на сковороду поряд з хлібом.</li>
            <li>Як тільки яйця почнуть твердіти на дні сковороди, використайте лопатку або ложку, щоб перевернути хліб разом із яйцем на інший бік.</li>
            <li>Продовжуйте смажити, доки яєчна суміш та хліб не стануть золотистого кольору.</li>
            <li>Вийміть бутерброд із сковороди та покладіть на тарілку. Додайте шматочки шинки або бекону, якщо використовували.</li>
            <li>Повторіть процес для другого бутерброду.</li>
            <li>Подаємо гарячим із улюбленим напоєм.</li>
          </ol>
          <h3>Смачного!</h3>
        </article>
      </div>
    </div>
  </div>
</section>
